html(lang="en", theme="light")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title MC LB Requests
		style.
			body {
				width: 75%;
				margin-left: auto;
				margin-right: auto;
			}
			textarea {
				width: 25vw;
			}
		link(rel="stylesheet", href="/style.css")

	body
		if message
			h1= message
		h1 Minecraft Leaderboard Request Form
		a(href="https://git.mcbe.wtf/MCBE-Speedrunning/Game-Requests", target="_blank") Git Repository
		form(action="/", method="POST")
			h2 Minecraft Edition
				select(name="edition", required) Edition
					option(value="bedrock" selected) Bedrock Edition
					option(value="other") Other
					option(value="java") Java Edition
			h2 Game/Map name
			input(type="text", name="game", maxlength=1024, required)/
			h2 Download/Website link
			input(type="text", name="website", maxlength=1024, required)/
			h2 Proposed categories and rules
			textarea(name="rules", maxlength=1024, placeholder="When timing starts/ends\nAdditional restrictions", required)
			h2 Video of a completed run
			input(type="text", name="video", maxlength=1024, required)/
			h2 Your discord tag and/or speedrun.com username or other ways to contact you.
			input(type="text", name="author", maxlength=1024, required)/
			h2 A bit about yourself
			textarea(name="aboutme", placeholder="A message about yourself. ", maxlength=1024, required)
			h2 Additional notes
			textarea(name="notes", maxlength=1024, required)
				| No additional notes provided
			h2 What's 9+10?
			input(type="text", name="math", maxlength=10, required)/
			input(type="hidden", name="_csrf", value=csrfToken)/
			br
			br
			button(type="submit") Submit
